<h1>Roster for {{ month }} {{ getMonthName(month) }}/{{ year }}</h1>

Month
<select [(ngModel)]="month" (change)="createCalendar()">
  <option *ngFor="let monthChose of monthToChoose" value="{{ monthChose }}"> {{ getMonthName(monthChose) }} </option>
</select>
<br>
Year
<select [(ngModel)]="year" (change)="createCalendar()">
  <option *ngFor="let year of yearsToChoose" value="{{ year }}"> {{ year }} </option>
</select>
<br>
Team
<select [(ngModel)]="selectedTeamId" (change)="createCalendar()"> Select an Employee
  <option *ngFor="let team of teams" [value]="team.id">{{ team.name }} </option>
</select>

<div class="container-fluid p-3 my-3">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Compulsory</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="selectedTeam">
      <tr *ngFor="let day of days">
        <td>{{ day }}</td>
        <td>{{ selectedTeam.mondayFrom | date:'shortTime' }} - {{ selectedTeam.mondayTo | date:'shortTime' }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
