<h1>Roster for {{ getMonthName(month) }} {{ year }}</h1>

Month
<select (change)="createCalendar()" [(ngModel)]="month">
  <option *ngFor="let monthChose of monthToChoose" value="{{ monthChose }}"> {{ getMonthName(monthChose) }} </option>
</select>
<br>
Year
<select (change)="createCalendar()" [(ngModel)]="year">
  <option *ngFor="let year of yearsToChoose" value="{{ year }}"> {{ year }} </option>
</select>
<br>
Team
<select (change)="createCalendar()" [(ngModel)]="selectedTeamId"> Select a Team
  <option *ngFor="let team of teams" [value]="team.id">{{ team.name }} </option>
</select>

<div class="container-fluid p-3 my-3">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Compulsory</th>
      <th scope="col" *ngFor="let employee of employees">{{ employee.firstName }} {{ employee.lastName }}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="selectedTeam">
      <tr *ngFor="let day of days">

        <td [ngClass]="returnDayName(day) == 'Saturday'  || returnDayName(day) == 'Sunday' ? 'table-danger' : ''">{{ day }}
          . {{ returnDayName(day) }}</td>
        <td [ngClass]="returnDayName(day) == 'Saturday'  || returnDayName(day) == 'Sunday' ? 'table-danger' : ''">{{ returnCompulsory(day) }}</td>

        <td *ngFor="let employee of employees"
            [ngClass]="returnDayName(day) == 'Saturday'  || returnDayName(day) == 'Sunday' ? 'table-danger' : ''">
          <ng-container *ngIf="predefinedPeriods">
            <ng-container *ngFor="let period of predefinedPeriods">
              <ng-container *ngIf="period.employee == employee.id && period.dateFrom.substring(8,10) == '0'+day.toString().substring(day.toString().length-1, day.toString().length)">
                <ng-container [ngSwitch]="period.purpose">
                  <div *ngSwitchCase="'WORKING_HOURS' || 'SCHEDULED_WORKING_HOURS'">
                    {{period.dateFrom.substring(period.dateFrom.length - 5, period.dateFrom.length)}} -
                    {{period.dateTo.substring(period.dateTo.length - 5, period.dateTo.length)}}
                  </div>
                  <span *ngSwitchCase="'CONFIRMED_VACATION'" class="text-info">Vacation/Absense</span>
                  <span *ngSwitchCase="'SICK_LEAVE'" class="text-primary">Sick Leave</span>
                  <span *ngSwitchCase="'VACATION_REQUEST'" class="text-secondary">Vacation/Free-Time Request</span>
                  <span *ngSwitchCase="'WORKING_HOUR_REQUEST'" class="text-secondary">
                    {{period.dateFrom.substring(period.dateFrom.length - 5, period.dateFrom.length)}} -
                    {{period.dateTo.substring(period.dateTo.length - 5, period.dateTo.length)}}
                    (Request)
                  </span>
                  <span *ngSwitchCase="'ABSENCE'" class="text-primary">
                    {{period.dateFrom.substring(period.dateFrom.length - 5, period.dateFrom.length)}} -
                    {{period.dateTo.substring(period.dateTo.length - 5, period.dateTo.length)}}
                    (Absence)
                  </span>
                  <span *ngSwitchCase="'FREE_TIME_REQUEST'" class="text-secondary">
                    {{period.dateFrom.substring(period.dateFrom.length - 5, period.dateFrom.length)}} -
                    {{period.dateTo.substring(period.dateTo.length - 5, period.dateTo.length)}}
                    (Free-Time Request)
                  </span>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
