<!--
Information:
how to output the date format: https://www.angularjswiki.com/angular/angular-date-pipe-formatting-date-times-in-angular-with-examples/
-->


<div *ngIf="!teamSelected">
  <div class="container-fluid p-3 my-3">
    <button (click)="showAddTeamRequest()" *ngIf="!addTeam" class="btn btn-primary">Add New Team</button>

    <form #teamForm="ngForm" [hidden]="!addTeam">
      <button (click)="showAddTeamRequest()" *ngIf="addTeam" class="btn btn-primary">Hide Menu</button>
      <br><br>
      <label for="name">Name</label>
      <input #name="ngModel" [(ngModel)]="newTeam.name" id="name" name="name" placeholder="Name" required type="text">

      <div *ngIf="name.invalid" class="error">
        <div *ngIf="name.hasError('required')">
          Name ist ein Pflichtfeld.
        </div>
      </div>

      <div class="form-group">
        <label for="restHours">Rest Hours</label>
        <input [(ngModel)]="newTeam.restHours" id="restHours" name="restHours" placeholder="Rest Hours" type="text">
      </div>

      <div class="form-group">
        <label for="restDays">Rest Days</label>
        <input [(ngModel)]="newTeam.restDays" id="restDays" name="restDays" placeholder="Rest Days" type="text">
      </div>

      <div class="form-group">
        <label for="mondayFrom">Monday From</label>
        <input [(ngModel)]="newTeam.mondayFrom" id="mondayFrom" name="mondayFrom" placeholder="Monday From" type="Time">
      </div>

      <div class="form-group">
        <label for="mondayTo">Monday To</label>
        <input [(ngModel)]="newTeam.mondayTo" id="mondayTo" name="mondayTo" placeholder="Monday To" type="Time">
      </div>

      <div class="form-group">
        <label for="tuesdayFrom">Tuesday From</label>
        <input [(ngModel)]="newTeam.tuesdayFrom" id="tuesdayFrom" name="tuesdayFrom" placeholder="Tuesday From"
               type="Time">
      </div>

      <div class="form-group">
        <label for="tuesdayTo">Tuesday To</label>
        <input [(ngModel)]="newTeam.tuesdayTo" id="tuesdayTo" name="tuesdayTo" placeholder="Tuesday To" type="Time">
      </div>

      <div class="form-group">
        <label for="wednesdayFrom">Wednesday From</label>
        <input [(ngModel)]="newTeam.wednesdayFrom" id="wednesdayFrom" name="wednesdayFrom" placeholder="Wednesday From"
               type="Time">
      </div>

      <div class="form-group">
        <label for="wednesdayTo">Wednesday To</label>
        <input [(ngModel)]="newTeam.wednesdayTo" id="wednesdayTo" name="wednesdayTo" placeholder="Wednesday To"
               type="Time">
      </div>

      <div class="form-group">
        <label for="thursdayFrom">Thursday From</label>
        <input [(ngModel)]="newTeam.thursdayFrom" id="thursdayFrom" name="thursdayFrom" placeholder="Thursday From"
               type="Time">
      </div>

      <div class="form-group">
        <label for="thursdayTo">Thursday To</label>
        <input [(ngModel)]="newTeam.thursdayTo" id="thursdayTo" name="thursdayTo" placeholder="Thursday To" type="Time">
      </div>

      <div class="form-group">
        <label for="fridayFrom">Friday From</label>
        <input [(ngModel)]="newTeam.fridayFrom" id="fridayFrom" name="fridayFrom" placeholder="Friday From" type="Time">
      </div>

      <div class="form-group">
        <label for="fridayTo">Friday To</label>
        <input [(ngModel)]="newTeam.fridayTo" id="fridayTo" name="fridayTo" placeholder="Friday To" type="Time">
      </div>

      <div class="form-group">
        <label for="saturdayFrom">saturday From</label>
        <input [(ngModel)]="newTeam.saturdayFrom" id="saturdayFrom" name="saturdayFrom" placeholder="Saturday From"
               type="Time">
      </div>

      <div class="form-group">
        <label for="saturdayTo">Saturday To</label>
        <input [(ngModel)]="newTeam.saturdayTo" id="saturdayTo" name="saturdayTo" placeholder="Saturday To" type="Time">
      </div>

      <div class="form-group">
        <label for="saturdayFrom">Sunday From</label>
        <input [(ngModel)]="newTeam.sundayFrom" id="sundayFrom" name="sundayFrom" placeholder="Sunday From" type="Time">
      </div>

      <div class="form-group">
        <label for="sundayTo">Sunday To</label>
        <input [(ngModel)]="newTeam.sundayTo" id="sundayTo" name="sundayTo" placeholder="Sunday To" type="Time">
      </div>


      <button (click)="addNewTeam(newTeam)" [disabled]="!teamForm?.valid" class="btn btn-success" value="submit">
        Submit
      </button>

    </form>
  </div>

  <!--
  Create a new Team
  -->
  <!--<div class="container-fluid p-3 my-3">-->
  <!--    <input [(ngModel)]="newTeam.name" type="text">-->
  <!--</div>-->


  <!--
  Table with all teams
  -->
  <div class="container-fluid p-3 my-3">
    <button (click)="fetchAll()" *ngIf="!teams" class="btn btn-primary" type="button">Show Teams</button>
    <ng-container *ngIf="teams">
      <button (click)="clearAll()" class="btn btn-primary" type="button">Hide Teams</button>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Rest Hours</th>
          <th scope="col">Rest Days</th>
          <th scope="col">Minimal Break Time</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
          <th scope="col">Sunday</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of teams">
          <th scope="row">{{team.name}}</th>
          <td>{{team.restHours}}</td>
          <td>{{team.restDays}}</td>
          <td>{{team.minBreakTime}}</td>
          <td>{{team.mondayFrom}} - {{team.mondayTo}}</td>
          <td>{{team.tuesdayFrom}} - {{team.tuesdayTo}}</td>
          <td>{{team.wednesdayFrom}} - {{team.wednesdayTo}}</td>
          <td>{{team.thursdayFrom}} - {{team.thursdayTo}}</td>
          <td>{{team.fridayFrom}} - {{team.fridayTo}}</td>
          <td>{{team.saturdayFrom}} - {{team.saturdayTo}}</td>
          <td>{{team.sundayFrom}} - {{team.sundayTo}}</td>
          <td>
            <button (click)="getTeam(team.id)" class="btn btn-info" value="details">Details</button>
          </td>
          <td>
            <button (click)="deleteTeam(team.id)" class="btn btn-danger" value="delete">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
<div *ngIf="teamSelected" class="card">
  <div *ngIf="!editMode" class="container">
    <button (click)="closeTeamDetailsWindow()" aria-label="Close alert" class="close-button" data-close type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4><b>{{selectedTeam.name}}</b></h4>
    <p>
      <strong>Rest Hours: </strong> {{selectedTeam.restHours}}
    </p>
    <p>
      <strong>Rest Days: </strong> {{selectedTeam.restDays}}
    </p>
    <p>
      <strong>Minimal break time: </strong> {{selectedTeam.minBreakTime}}
    </p>
    <button (click)="editModeOn()" class="edit" title="edit team" type="button">Edit</button>
  </div>
  <div *ngIf="editMode" class="container">
    <button (click)="closeTeamDetailsWindow()" aria-label="Close alert" class="close-button" data-close type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      <label for="teamName">Name: </label>
      <input [(ngModel)]="selectedTeam.name" id="teamName">
    </div>
    <div>
      <label for="teamRestHours">Rest Hours: </label>
      <input [(ngModel)]="selectedTeam.restHours" id="teamRestHours">
    </div>
    <div>
      <label for="teamRestDays">Rest Days: </label>
      <input [(ngModel)]="selectedTeam.restDays" id="teamRestDays">
    </div>
    <div>
      <label for="teamMinBreakTime">Min. break time: </label>
      <input [(ngModel)]="selectedTeam.minBreakTime" id="teamMinBreakTime">
    </div>
    <button (click)="editModeOff()" class="save" title="edit team" type="button">Save</button>
  </div>
</div>


<!--
TODO:
CEO => can add/edit/delete teams / can see details of all teams
Manager => Edit Teams / can see the details of his/her team
Employee, Trainee => can see details of his/her team

create an edit button /
show the team members of each team as details
-->
