<ng-container *ngIf="authService.isAuthenticated">
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rooster</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills nav-fill">

        <li class="nav-item">
          <a class="nav-link" routerLink="/employee" routerLinkActive="active">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/period" routerLinkActive="active">Leave</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
        </li>
        <li class="nav-item">
        <li><a class="nav-link" routerLink="/generator" routerLinkActive="active">Generator</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated"><a class="nav-link" (click)="authService.logout()" routerLink="/">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>

<div>
  <ul>
    <li *ngIf="!authService.isAuthenticated"><a routerLink="/login">Login</a></li>
<!--    <li *ngIf="authService.isAuthenticated"><a (click)="authService.logout()" routerLink="/">Logout</a></li>-->
  </ul>
</div>

<router-outlet></router-outlet>
</ng-container>
<ng-container class="" *ngIf="!authService.isAuthenticated">
<app-login></app-login>
</ng-container>
<!--<app-period [userId]="currentUserId"></app-period>-->


<!--
TODO:
Homepage: 1) username:/password/login-Button
reset password
Wallpaper & Logo (Rooster)
-->
