<ng-container *ngIf="authService.isAuthenticated">

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a aria-current="page" class="nav-link active" routerLink="/">Rooster</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee" routerLinkActive="active">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/period" routerLinkActive="active">Leave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
          </li>
          <li class="nav-item">
          <li><a class="nav-link" routerLink="/generator" routerLinkActive="active">Generator</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button (click)="authService.logout()" *ngIf="authService.isAuthenticated" class="btn btn-outline-danger"
                  routerLink="/"
                  type="submit">Logout
          </button>
        </form>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</ng-container>

<ng-container *ngIf="!authService.isAuthenticated" class="">
  <app-login></app-login>
</ng-container>


<!--
TODO:
Homepage: 1) username:/password/login-Button
reset password
Wallpaper & Logo (Rooster)
-->
