.btn-login {
  background-color: #71bbbc;
  color: white;
}

.btn-login:hover {
  background-color: #aad6d7;
  color: white;
}

.btn-password {
  background-color: #fe0957;
  color: white;
}

.btn-password:hover {
  background-color: #ff5f8d;
  color: white;
}
