<!--
Table with all Periods
-->
<div class="container-fluid p-3 my-3">
  <button (click)="fetchAll()" *ngIf="!periods" class="btn btn-primary" type="button">Show Leaves</button>
  <ng-container *ngIf="periods">
    <button (click)="clearAllPeriods()" class="btn btn-primary" type="button">Hide Leaves</button>
    <table class="table table-striped text-center">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Purpose</th>
        <th scope="col">Employee Id</th>
        <th scope="col">Date from</th>
        <th scope="col">Date to</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let period of periods">
        <th scope="row">{{period.id}}</th>
        <td>{{period.purpose}}</td>
        <td>{{period.employee}}</td>
        <td>{{period.dateFrom}}</td>
        <td>{{period.dateTo}}</td>
        <td>
          <button class="btn-info" title="Edit Leave request" type="button"
          >Edit
          </button>
        </td>
        <td>
          <button (click)="deletePeriod(period.id)" class="btn-danger" title="delete Leave request"
                  type="button">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
<!--
Show all Leaves of an Employee
-->
<div class="container-fluid p-3 my-3">
  <button (click)="fetchAll()" *ngIf="!periods" class="btn btn-primary" type="button">Show Leaves of an Employee
  </button>
  <select [(ngModel)]="employeeId" id="Employee Id"> Select an Employee
    <option *ngFor="let employee of employees"
            [value]="employee.id">{{employee.firstName}} {{employee.lastName}}</option>
  </select>
  <ng-container *ngIf="periods">
    <button (click)="clearAllPeriods()" *ngIf="periods" class="btn btn-primary" type="button">Hide Leaves of an
      Employee
    </button>
    <table class="table text-center">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Purpose</th>
        <th scope="col">Employee Id</th>
        <th scope="col">Date from</th>
        <th scope="col">Date to</th>
      </tr>
      </thead>
      <tbody *ngFor="let period of periods">
      <tr *ngIf="period.employee == employeeId">
        <th scope="row">{{period.id}}</th>
        <td>{{period.purpose}}</td>
        <td>{{period.employee}}</td>
        <td>{{period.dateFrom}}</td>
        <td>{{period.dateTo}}</td>
        <td>
          <button class="btn-info" title="Edit Leave request" type="button"
          >Edit
          </button>
        </td>
        <td>
          <button (click)="deletePeriod(period.id)" class="btn-danger" title="delete employee"
                  type="button">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
<!--
Show all Employees
-->
<div class="container-fluid p-3 my-3">
  <button (click)="showEmployees()" *ngIf="!showEmployeeList" class="btn btn-primary" type="button">Show Employees
  </button>
  <ng-container *ngIf="showEmployeeList">
    <button (click)="showEmployees()" class="btn btn-primary" type="button">Hide Employees</button>
    <table class="table table-striped text-center">
      <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Balance Hours</th>
        <th scope="col">Break Time</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of employees">
        <th scope="row">{{e.id.valueOf()}}</th>
        <td>{{e.firstName}} {{e.lastName}}</td>
        <td>{{e.balanceHours}}</td>
        <td>{{e.breakTime}}</td>
        <td>{{e.email}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
<!--
Form to create a new Leave request
-->
<div class="container-fluid p-3 my-3">
  <button (click)="showLeaveRequest()" *ngIf="!newLeave" class="btn btn-primary">Create Leave Request</button>
  <form [hidden]="!newLeave">
    <button (click)="showLeaveRequest()" *ngIf="newLeave" class="btn btn-primary">Hide Leave Request</button>
    <div class="newLeave">
      Employee First name:
      <select [(ngModel)]="newPeriod.employee" name="employee">
        <option *ngFor="let e of employees" [ngValue]='e.id'>{{e.firstName}} {{e.lastName}}</option>
      </select>
      <br>
      Purpose:
      <select [(ngModel)]="newPeriod.purpose" id="purpose" name="purpose">
        <option *ngFor="let entry of Purpose | keyvalue" [ngValue]="entry.value">{{entry.value}}</option>
      </select>
      <br>
      Date from: <input [(ngModel)]="newPeriod.dateFrom" name="dateFrom" type="datetime-local">
      Date to: <input [(ngModel)]="newPeriod.dateTo" name="dateTo" type="datetime-local">
      <button (click)="saveEntry(newPeriod)" type="submit">Submit</button>
    </div>
  </form>
</div>

<!--
TODO:
CEO => CEO can do everything!
Manager => Manager can create leave request for his employees and for himself / can see the details
[Employee, Trainee] => can create leave request for himself and see details of his requests
-->
