<div *ngIf="employee" class="card">
  <div *ngIf="!editMode" class="container">
    <h4>First name: <b>{{employee.firstName}}</b></h4>
    <h4>Last name:<b>{{employee.lastName}}</b></h4>
    <p>
      <strong>Position: </strong> {{capitalizeFirstLetter(employee.role)}}
    </p>
    <p>
      <strong>Team: </strong> {{getTeamName(employee.team)}}
    </p>
    <p>
      <strong>Email: </strong> {{employee.email}}
    </p>
    <button (click)="editModeOn()" class="btn btn-edit" title="edit team" type="button">
      Edit
      <span><i class="fa-solid fa-pencil"></i></span>
    </button>
  </div>
  <div *ngIf="editMode" class="container">
    <button (click)="editModeOff()" aria-label="Close alert" class="btn btn-danger" data-close type="button">
      <span aria-hidden="true">X</span>
    </button>
    <div>
      <label for="firstName">First name: </label>
      <input [(ngModel)]="employee.firstName" id="firstName">
    </div>
    <div>
      <label for="lastName">Last name: </label>
      <input [(ngModel)]="employee.lastName" id="lastName">
    </div>
    <div>
      <label for="employeePosition">Position: </label>
      <select [(ngModel)]="employee.role" id="employeePosition" name="role">
        <option *ngFor="let r of Role | keyvalue" [ngValue]="r.value">{{capitalizeFirstLetter(r.value.toString())}}</option>
      </select>
    </div>
    <div>
      <label for="employeeTeam">Team:</label>
      <select [(ngModel)]="employee.team" id="employeeTeam" name="employeeTeam">
        <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
      </select>
    </div>
    <div>
      <label for="employeeEmail">Email address: </label>
      <input [(ngModel)]="employee.email" id="employeeEmail">
    </div>
    <div>
      <label for="employeeHoursPerWeek">Hours per Week: </label>
      <input [(ngModel)]="employee.hoursPerWeek" id="employeeHoursPerWeek" type="number">
    </div>
    <div class="gap-2 d-md-block">
    <button (click)="editEmployee(employee)" class="btn btn-save m-2" title="edit team" type="button">Save
    <span><i class="fa-solid fa-floppy-disk"></i></span>
    </button>
    <button (click)="goBack()" class="btn btn-return" title="return" type="button">Return
      <span><i class="fa-solid fa-rotate-left"></i></span>
    </button>
    </div>
  </div>
</div>
