<!--
TODO:
Team has to be added first, if no other team exist.
CEO => info about Manager and all Employees / we can do everything! Can chose any team when adding a new employee.
Manager => all information about all Employees / can see: EDIT & DELETE, ADD NEW EMPLOYEE and DETAILS of own Employees.
New employee will automatically be added to manager's team.
Employee => info about themselves / can see: LEAVE REQUEST BTN, info about their own TEAM
Trainee => info about themselves / can see: LEAVE REQUEST BTN, info about their own TEAM / only details button
write a new function to show the info about the person
-->

<!-- Title Greeting -->
<ng-container *ngIf="currentUser">
  <div class="card text-center mx-auto" style="width: 22rem;">
    <img alt="profile" class="card-img-top" src="/assets/pictures/profile_picture.png">
    <div class="card-body">
      <h5 class="card-title">{{ currentUser.firstName }} {{ currentUser.lastName }}</h5>
      <p class="card-text">Team: {{ getTeamName(currentUser.team) }}</p>
      <p class="card-text">
        Position: {{ currentUser.role.substring(0, 1)}}{{ currentUser.role.substring(1, currentUser.role.length.valueOf()).toLocaleLowerCase() }}</p>
      <p class="card-text">E-Mail: {{ currentUser.email.toLocaleLowerCase() }}</p>

      <a (click)="createEmployee = !createEmployee" *ngIf="currentUser.role == 'MANAGER' || currentUser.role == 'OWNER'"
         class="btn btn-add m-1">
      New employee
        <span><i class="fa-solid fa-user-plus"></i></span>
      </a>
      <a (click)="myTeam = !myTeam" *ngIf="currentUser.role == 'STAFF' || currentUser.role == 'SUBSTITUTE_MANAGER'"
         class="btn btn-primary m-1">Show My Team</a>
      <div *ngIf="currentUser.role == 'OWNER'" class="dropdown m-3">
        <label for="team">Select a Team:</label>
        <select [(ngModel)]="selectedTeam" id="team" name="team">
          <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <figure *ngIf="createEmployee" class="text-center">

    <div class="container-fluid p-3 my-3">
      <ng-container *ngIf=createEmployee>
        <button (click)="createEmployee = !createEmployee" class="btn btn-primary" type="button">Close Form</button>
        <form #contactForm="ngForm">
          <p>
            <label for="firstName">Name:</label>
            <input #firstName="ngModel" [(ngModel)]="newEmployee.firstName" id="firstName" name="firstName" placeholder="First Name"
                   type="text">
          </p>

          <p>
            <label for="lastName">Last Name:</label>
            <input #firstName="ngModel" [(ngModel)]="newEmployee.lastName" id="lastName" name="lastName" placeholder="Last Name"
                   type="text">
          </p>

          <p>
            <label for="email">Email:</label>
            <input #email="ngModel" [(ngModel)]="newEmployee.email" id="email" name="email" placeholder="Email"
                   type="text">
          </p>

          <p>
            <label for="teamId">Team:</label>
            <select [(ngModel)]="newEmployee.team" id="teamId" name="team">
              <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
            </select>
          </p>

          <p>
            <label for="hoursPerWeek">Hours Per Week:</label>
            <input #hoursPerWeek="ngModel" [(ngModel)]="newEmployee.hoursPerWeek" [min]="0" id="hoursPerWeek"
                   name="hoursPerWeek" placeholder="Hours Per Week" step="1" type="number">
          </p>

          <p>
            <label for="balanceHours">Balance Hours:</label>
            <input #balanceHours="ngModel" [(ngModel)]="newEmployee.balanceHours" id="balanceHours" name="balanceHours"
                   placeholder="Balance Hours" step="0.25" type="number">
          </p>

          <p>
            <label for="breakTime">Break Time:</label>
            <input #breakTime="ngModel" [(ngModel)]="newEmployee.breakTime" [min]="0" id="breakTime" name="breakTime"
                   placeholder="Break Time" step="0,25" type="number">
          </p>

          <p>
            <label for="role">Role:</label>
            <select [(ngModel)]="newEmployee.role" id="role" name="role">
              <option *ngFor="let r of role | keyvalue" [ngValue]="r.key">{{r.value}}</option>
            </select>
          </p>

          <p>
            <button (click)="saveEmployee(newEmployee)" value="Save">Save</button>
          </p>
        </form>
      </ng-container>
    </div>
  </figure>

  <!-- Title Greeting -->

  <!-- Team for Manager -->
  <!--<section id="team" class="pb-5">-->
  <!--  <div class="container">-->
  <!--    <h5 class="section-title h1">YOUR TEAM</h5>-->
  <!--    <div class="row">-->

  <!-- Team for CEO -->


  <figure *ngIf="selectedTeam != undefined" class="text-center">
    <div *ngFor="let team of teams">
      <br>
      <h5 *ngIf="team.id == selectedTeam" class="section-title h1">Members of {{team.name}}</h5>
    </div>


    <div class="row">
      <ng-container *ngFor="let employee of employees">
        <div class="col-sm-3" *ngIf="employee.team.valueOf() == selectedTeam">
          <div class="card m-5">
            <div class="card-body text-center">
              <p><img alt="100x100" class="card-img-top card-img-bottom"
                      data-holder-rendered="true"
                      src="/assets/pictures/profile_picture.png"></p>
              <h4 class="card-title">Name: {{employee.firstName}} {{employee.lastName}}</h4>
              <div *ngFor="let team of teams">
                <p *ngIf="team.id == selectedTeam" class="card-text">Team: {{team.name}}</p>
              </div>
              <p class="card-text">Position: {{capitalizeFirstLetter(employee.role)}}</p>
              <p class="card-text">Email: {{employee.email}}</p>
              <div class="gap-2 d-md-block">
              <a [routerLink]="['/employee', employee.id]" class="btn btn-details m-2">Details
              <span><i class="fa-solid fa-circle-info"></i></span>
              </a>
              <button (click)="deleteEmployee(employee.id)" class="btn btn-delete" value="delete">Delete
              <span><i class="fa-solid fa-user-xmark"></i></span>
              </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </figure>


  <!-- Team for Manager -->

  <!-- Team for CEO -->


  <!--
  OLD To take a look for logic:


  <div *ngIf="!employeeSelected">
    <div class="container-fluid p-3 my-3">
      <button (click)="toggleShow()" *ngIf=!isFormShown class="btn btn-primary" type="button">Add New Employees</button>
      <ng-container *ngIf=isFormShown>
        <button (click)="toggleShow()" class="btn btn-primary" type="button">Close Form</button>
        <form #contactForm="ngForm">
          <p>
            <label for="firstName">Name:</label>
            <input #firstName="ngModel" [(ngModel)]="newEmployee.firstName" id="firstName" name="firstName" placeholder="First Name"
                   type="text">
          </p>

          <p>
            <label for="lastName">Last Name:</label>
            <input #firstName="ngModel" [(ngModel)]="newEmployee.lastName" id="lastName" name="lastName" placeholder="Last Name"
                   type="text">
          </p>

          <p>
            <label for="password">Password:</label>
            <input #passwordName="ngModel" [(ngModel)]="newEmployee.password" id="password" name="password" placeholder="Password"
                   type="text">
          </p>

  <p>
    <label for="email">Email:</label>
    <input #email="ngModel" [(ngModel)]="newEmployee.email" id="email" name="email" placeholder="Email"
           type="text">
  </p>

  <p>
    <label for="team">Team:</label>
    <select [(ngModel)]="newEmployee.team" id="team" name="team">
      <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
    </select>
  </p>

  <p>
    <label for="hoursPerWeek">Hours Per Week:</label>
    <input #hoursPerWeek="ngModel" [(ngModel)]="newEmployee.hoursPerWeek" [min]="0" id="hoursPerWeek"
           name="hoursPerWeek" placeholder="Hours Per Week" step="1" type="number">
  </p>

  <p>
    <label for="balanceHours">Balance Hours:</label>
    <input #balanceHours="ngModel" [(ngModel)]="newEmployee.balanceHours" id="balanceHours" name="balanceHours"
           placeholder="Balance Hours" step="0.25" type="number">
  </p>

  <p>
    <label for="breakTime">Break Time:</label>
    <input #breakTime="ngModel" [(ngModel)]="newEmployee.breakTime" [min]="0" id="breakTime" name="breakTime"
           placeholder="Break Time" step="0,25" type="number">
  </p>

  <p>
    <label for="role">Role:</label>
    <select [(ngModel)]="newEmployee.role" id="role" name="role">
      <option *ngFor="let r of Role | keyvalue" [ngValue]="r.value">{{r.key}} - {{r.value}}</option>
    </select>
  </p>

  <p>
    <button (click)="saveEmployee(newEmployee)" value="Save">Save</button>
  </p>
  </form>
  </ng-container>
  </div>

  <div class="container-fluid p-3 my-3">
    <button (click)="getEmployees()" *ngIf="!employees" class="btn btn-primary" type="button">Show Employees</button>
    <ng-container *ngIf="employees">
      <button (click)="clearAll()" class="btn btn-primary" type="button">Hide Employees</button>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Employee</th>
          <th scope="col">Balance Hours</th>
          <th scope="col">Break Time</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of employees">
          <th scope="row">{{e.firstName}} {{e.lastName}}</th>
          <td>{{e.balanceHours}}</td>
          <td>{{e.breakTime}}</td>
          <td>{{e.email}}</td>
          <td>
            <button (click)="getEmployee(e.id)" class="show" title="employee details"
                    type="button">Details
            </button>
          </td>
          <td>
            <button (click)="deleteEmployee(e)" class="delete" title="delete employee"
                    type="button">Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
  </div>

  <div *ngIf="employeeSelected" class="card">
    <div *ngIf="!editMode" class="container">
      <button (click)="closeEmployeeDetails()" aria-label="Close alert" class="close-button" data-close type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4><b>{{selectedEmployee.firstName + " " + selectedEmployee.lastName}}</b></h4>
      <p>
        <strong>Team:</strong> {{getTeamName(selectedEmployee.team)}}
      </p>
      <p>
        <strong>Role:</strong> {{capitalizeFirstLetter(selectedEmployee.role)}}
      </p>
      <button (click)="editModeOn()" class="edit" title="edit employee"
              type="button">Edit
      </button>
    </div>
    <div *ngIf="editMode" class="container">
      <button (click)="closeEmployeeDetails()" aria-label="Close alert" class="close-button" data-close type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <form #contactForm="ngForm">
        <div>
          <label for="empFirstName">First name: </label>
          <input [(ngModel)]="selectedEmployee.firstName" id="empFirstName" name="firstName">
        </div>
        <div>
          <label for="empLastName">Last name: </label>
          <input [(ngModel)]="selectedEmployee.lastName" id="empLastName" name="lastName">
        </div>
        <p>
          <strong>Team:</strong> {{getTeamName(selectedEmployee.team)}}
        </p>
        <p>
          <strong>Role:</strong> {{capitalizeFirstLetter(selectedEmployee.role)}}
        </p>
        <button (click)="editEmployee(selectedEmployee)" class="save" title="edit employee"
                type="button">Save
        </button>
      </form>
    </div>
  </div>
  -->
</ng-container>
<app-employee-details [teams]="teams"></app-employee-details>
