<!-- Title Greeting -->
<ng-container *ngIf="currentUser">
  <div class="card text-center mx-auto" style="width: 22rem; margin-top: 72px">
    <img alt="profile" class="card-img-top" src="/assets/pictures/profile_picture.png">
    <div class="card-body">
      <h5 class="card-title">{{ currentUser.firstName }} {{ currentUser.lastName }}</h5>
      <p class="card-text">Team: {{ getTeamName(currentUser.team) }}</p>
      <p class="card-text">
        Position: {{ currentUser.role.substring(0, 1)}}{{ currentUser.role.substring(1, currentUser.role.length.valueOf()).toLocaleLowerCase() }}</p>
      <p class="card-text">E-Mail: {{ currentUser.email.toLocaleLowerCase() }}</p>

      <!-- Button trigger modal -->
      <a type="button" id="buttonAdd" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        (click)="createEmployee = !createEmployee" *ngIf="authService.isOwner">
      New employee
        <span><i class="fa-solid fa-user-plus"></i></span>
      </a>
      <a (click)="selectedTeam = currentUser.team"
         class="btn btn-primary m-1">Show My Team</a>
      <div *ngIf="currentUser.role == 'OWNER'" class="dropdown m-3">
        <label for="team">Select a Team:</label>
        <select [(ngModel)]="selectedTeam" id="team" name="team" class="form-control">
          <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <figure *ngIf="authService.isOwner" class="text-center">

    <div class="container-fluid p-3 my-3 w-50">
      <ng-container *ngIf=createEmployee>
<!--        <button (click)="createEmployee = !createEmployee" class="btn btn-primary" type="button">Close Form</button>-->

<!--        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--          Launch static backdrop modal-->
<!--        </button>-->

        <!-- Modal -->
<!--        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"-->
<!--             aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--          <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--              <div class="modal-header">-->
<!--                <h5 class="modal-title" id="staticBackdropLabel">Employee details</h5>-->
                <div>
                  <button class="btn btn-add m-2" data-bs-dismiss="modal"
                          (click)="saveEmployee(newEmployee)" value="submit">Submit</button>
                  <button (click)="createEmployee = !createEmployee" type="button" class="btn btn-exit"
                          >
                    <span><i class="fa-solid fa-circle-xmark"></i></span>
                  </button>
                </div>
<!--              </div>-->
              <div class="modal-body">

                <form #contactForm="ngForm">
                  <div class="row">
                    <div class="col form-group">
                      <label for="firstName">Name:</label>
                      <input #firstName="ngModel" [(ngModel)]="newEmployee.firstName" id="firstName" name="firstName" placeholder="First Name"
                             type="text" class="form-control">
                    </div>
                    <div class="col form-group">
                      <label for="lastName">Last Name:</label>
                      <input #lastName="ngModel" [(ngModel)]="newEmployee.lastName" id="lastName" name="lastName" placeholder="Last Name"
                             type="text" class="form-control">
                    </div>
                  </div>
                  <div>
                    <label for="email">Email:</label>
                    <input #email="ngModel" [(ngModel)]="newEmployee.email" id="email" name="email" placeholder="email@email.de"
                           type="text" class="form-control">
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="hoursPerWeek">Hours Per Week:</label>
                      <input #hoursPerWeek="ngModel" [(ngModel)]="newEmployee.hoursPerWeek" [min]="0" id="hoursPerWeek"
                             name="hoursPerWeek" placeholder="40" step="1" type="number" class="form-control">
                    </div>
                    <div class="col form-group">
                      <label for="balanceHours">Balance Hours:</label>
                      <input #balanceHours="ngModel" [(ngModel)]="newEmployee.balanceHours" id="balanceHours" name="balanceHours"
                             placeholder="5" step="0.25" type="number" class="form-control">
                    </div>
                    <div class="col form-group">
                      <label for="breakTime">Break Time:</label>
                      <input #breakTime="ngModel" [(ngModel)]="newEmployee.breakTime" [min]="0" id="breakTime" name="breakTime"
                             placeholder="1" step="0,25" type="number" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="teamId">Team:</label>
                      <select [(ngModel)]="newEmployee.team" id="teamId" name="team" class="form-control">
                        <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
                      </select>
                    </div>
                    <div class="col form-group">
                      <label for="role">Role:</label>
                      <select [(ngModel)]="newEmployee.role" id="role" name="role" class="form-control">
                        <option *ngFor="let r of role | keyvalue" [ngValue]="r.key">{{r.value}}</option>
                      </select>
                    </div>
                  </div>
              </form>
              </div>

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

      </ng-container>
    </div>
  </figure>

  <!-- Title Greeting -->

  <!-- Team for Manager -->
  <!--<section id="team" class="pb-5">-->
  <!--  <div class="container">-->
  <!--    <h5 class="section-title h1">YOUR TEAM</h5>-->
  <!--    <div class="row">-->

  <!-- Team for CEO -->


  <figure *ngIf="selectedTeam != undefined" class="text-center">
    <div *ngFor="let team of teams">
      <br>
      <h5 *ngIf="team.id == selectedTeam" class="section-title h1">Members of {{team.name}}</h5>
    </div>


    <div class="row">
      <ng-container *ngFor="let employee of employees">
        <div class="col-sm-3" *ngIf="employee.team.valueOf() == selectedTeam">
          <div class="card m-5">
            <div class="card-body text-center">
              <p><img alt="100x100" class="card-img-top card-img-bottom"
                      data-holder-rendered="true"
                      src="/assets/pictures/profile_picture.png"></p>
              <h5 class="card-title">{{employee.firstName}} {{employee.lastName}}</h5>
              <div *ngFor="let team of teams">
                <p *ngIf="team.id == selectedTeam" class="card-text">Team: {{team.name}}</p>
              </div>
              <p class="card-text">Position: {{capitalizeFirstLetter(employee.role)}}</p>
              <p class="card-text">{{employee.email}}</p>
              <div *ngIf="authService.isAdmin" class="gap-2 d-md-block">
                <button id="editEmployee" (click)="editModeOn(employee)" type="button" class="btn btn-edit m-1" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                  Edit
                  <span><i class="fa-solid fa-pencil"></i></span>
                </button>
              <button (click)="deleteEmployee(employee.id)" class="btn btn-delete" value="delete">Delete
              <span><i class="fa-solid fa-user-xmark"></i></span>
              </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </figure>
</ng-container>
<!--<app-employee-details [teams]="teams"></app-employee-details>-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
        <div class="gap-2 d-md-block">
        <button (click)="editEmployee(selectedEmployee)" type="button"
                class="btn btn-add m-1" data-bs-dismiss="modal">
          <span><i class="fa-solid fa-floppy-disk"></i></span>
        </button>
        <button (click)="editModeOff()" type="button" class="btn btn-delete" data-bs-dismiss="modal" aria-label="Close">
          <span><i class="fa-solid fa-circle-xmark"></i></span>
        </button>
        </div>
      </div>
      <div class="modal-body">
        <div *ngIf="editMode" class="text-center">
          <div>
            <label for="firstName1">First Name: </label>
            <input class="form-control" #firstName="ngModel" [(ngModel)]="selectedEmployee.firstName" id="firstName1" name="firstName"
            type="text">
          </div>
          <div>
            <label for="lastName1">Last Name: </label>
            <input class="form-control" #´lastName="ngModel" [(ngModel)]="selectedEmployee.lastName" id="lastName1" name="lastName"
                   type="text">
          </div>
          <div>
            <label for="email1">Email: </label>
            <input class="form-control" #email="ngModel" [(ngModel)]="selectedEmployee.email" id="email1" name="email"
                   type="text">
          </div>
          <div>
            <label for="employeeRole">Position: </label>
            <select class="form-control" [(ngModel)]="selectedEmployee.role" id="employeeRole" name="employeeRole">
              <option *ngFor="let r of role | keyvalue" [ngValue]="r.key">{{r.value}}</option>
            </select>
          </div>
          <div>
            <label for="employeeTeam">Team: </label>
            <select class="form-control" [(ngModel)]="selectedEmployee.team" id="employeeTeam" name="employeeTeam">
              <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
