

<!--
TODO:
Team has to be added first, if no other team exist.
CEO => info about Manager and all Employees / we can do everything! Can chose any team when adding a new employee.
Manager => all information about all Employees / can see: EDIT & DELETE, ADD NEW EMPLOYEE and DETAILS of own Employees.
New employee will automatically be added to manager's team.
Employee => info about themselves / can see: LEAVE REQUEST BTN, info about their own TEAM
Trainee => info about themselves / can see: LEAVE REQUEST BTN, info about their own TEAM / only details button
write a new function to show the info about the person
-->

<!-- Title Greeting -->
<ng-container *ngIf="currentUser">
<figure class="text-center h1">
    <p>Hello {{ currentUser.firstName }} {{ currentUser.lastName }}</p>
</figure>
</ng-container>


<section id="greeting" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">HELLO, *NAME*!</h5>
    <div class="row justify-content-center">

      <!-- Card for Trainee -->

      <!--      <div class="col-xs-12 col-sm-6 col-md-4">-->
      <!--        <div class="image-flip">-->
      <!--              <div class="card">-->
      <!--                <div class="card-body text-center">-->
      <!--                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>-->
      <!--                  <h4 class="card-title">*NAME*</h4>-->
      <!--                  <p class="card-text">*Team:*</p>-->
      <!--                  <p class="card-text">*Position:*</p>-->
      <!--                  <p class="card-text">*Email:*</p>-->
      <!--                  <a href="https://jobs.academicwork.de/" class="btn btn-primary btn-sm">Leave Request</a>-->
      <!--                </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <!-- ./Card for Trainee -->

      <!-- Card for Employee -->
      <!--      <div class="col-xs-12 col-sm-6 col-md-4">-->
      <!--        <div class="image-flip">-->
      <!--          <div class="card">-->
      <!--            <div class="card-body text-center">-->
      <!--              <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>-->
      <!--              <h4 class="card-title">*NAME*</h4>-->
      <!--              <p class="card-text">*Team:*</p>-->
      <!--              <p class="card-text">*Position:*</p>-->
      <!--              <p class="card-text">*Email:*</p>-->
      <!--              <div class="btn-toolbar justify-content-center" aria-label="Toolbar with button groups" role="toolbar">-->
      <!--              <a class="btn btn-primary mr-1" href="https://jobs.academicwork.de/" role="button">Leave Request</a>-->
      <!--              <a href="https://jobs.academicwork.de/" class="btn btn-primary" role="button">My team</a>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->
      <!-- ./Card for Employee -->

      <!-- Card for Manager -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="card">
            <div class="card-body text-center">
              <p> <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                       data-holder-rendered="true"></p>
              <h4 class="card-title">*NAME*</h4>
              <p class="card-text">*Team:*</p>
              <p class="card-text">*Position:*</p>
              <p class="card-text">*Email:*</p>
              <div class="btn-toolbar justify-content-center" aria-label="Toolbar with button groups" role="toolbar">
                <a class="btn btn-primary mr-1" href="https://jobs.academicwork.de/" role="button">Leave Request</a>
                <a href="https://jobs.academicwork.de/" class="btn btn-primary" role="button">Add new employee</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Card for Manager -->
  </div>
</section>
<!-- Title Greeting -->

<!-- Team for Manager -->
<!--<section id="team" class="pb-5">-->
<!--  <div class="container">-->
<!--    <h5 class="section-title h1">YOUR TEAM</h5>-->
<!--    <div class="row">-->

<!-- Team for CEO -->
<section id="ceo" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">YOUR STAFF</h5>
    <div class="row">

      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <div class="image-flip">
          <div class="card">
            <div class="card-body text-center">
              <p> <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                       data-holder-rendered="true"></p>
              <h4 class="card-title">*NAME*</h4>
              <p class="card-text">*Team:*</p>
              <p class="card-text">*Position:*</p>
              <p class="card-text">*Email:*</p>
              <a href="https://jobs.academicwork.de/" class="btn edit btn-primary btn-sm mr-1">Edit</a>
              <a href="https://jobs.academicwork.de/" class="btn delete btn-primary btn-sm">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <div class="image-flip">
          <div class="card">
            <div class="card-body text-center">
              <p> <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                       data-holder-rendered="true"></p>
              <h4 class="card-title">*NAME*</h4>
              <p class="card-text">*Team:*</p>
              <p class="card-text">*Position:*</p>
              <p class="card-text">*Email:*</p>
              <a href="https://jobs.academicwork.de/" class="btn edit btn-primary btn-sm mr-1">Edit</a>
              <a href="https://jobs.academicwork.de/" class="btn delete btn-primary btn-sm">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <div class="image-flip">
          <div class="card">
            <div class="card-body text-center">
              <p> <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                       data-holder-rendered="true"></p>
              <h4 class="card-title">*NAME*</h4>
              <p class="card-text">*Team:*</p>
              <p class="card-text">*Position:*</p>
              <p class="card-text">*Email:*</p>
              <a href="https://jobs.academicwork.de/" class="btn edit btn-primary btn-sm mr-1">Edit</a>
              <a href="https://jobs.academicwork.de/" class="btn delete btn-primary btn-sm">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <div class="image-flip">
          <div class="card">
            <div class="card-body text-center">
              <p> <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                       data-holder-rendered="true"></p>
              <h4 class="card-title">*NAME*</h4>
              <p class="card-text">*Team:*</p>
              <p class="card-text">*Position:*</p>
              <p class="card-text">*Email:*</p>
              <a href="https://jobs.academicwork.de/" class="btn edit btn-primary btn-sm mr-1">Edit</a>
              <a href="https://jobs.academicwork.de/" class="btn delete btn-primary btn-sm">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <div class="image-flip">
          <div class="card">
            <div class="card-body text-center">
              <p> <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                       data-holder-rendered="true"></p>
              <h4 class="card-title">*NAME*</h4>
              <p class="card-text">*Team:*</p>
              <p class="card-text">*Position:*</p>
              <p class="card-text">*Email:*</p>
              <a href="https://jobs.academicwork.de/" class="btn edit btn-primary btn-sm mr-1">Edit</a>
              <a href="https://jobs.academicwork.de/" class="btn delete btn-primary btn-sm">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <div class="image-flip">
          <div class="card">
            <div class="card-body text-center">
              <p> <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                       data-holder-rendered="true"></p>
              <h4 class="card-title">*NAME*</h4>
              <p class="card-text">*Team:*</p>
              <p class="card-text">*Position:*</p>
              <p class="card-text">*Email:*</p>
              <a href="https://jobs.academicwork.de/" class="btn edit btn-primary btn-sm mr-1">Edit</a>
              <a href="https://jobs.academicwork.de/" class="btn delete btn-primary btn-sm">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!--    </div>-->
      <!--  </div>-->
      <!--</section>-->
      <!-- Team for Manager -->
    </div>
  </div>
</section>
<!-- Team for CEO -->
